# --- INFRASTRUCTURE ---
HTTP_PORT=3000
GRAFANA_PORT=4000
PROMETHEUS_PORT=9090
CADVISOR_PORT=8080

# --- DISCORD BOT ----
DISCORD_WEBHOOK_URL=[https://discord.com/api/webhooks/your_id](https://discord.com/api/webhooks/your_id)

# Permanent environment  - Da implementare ancora
GRAFANA_ADMIN_USER=admin
GRAFANA_ADMIN_PASSWORD=password_sicura

# Data storage  - Da implementare ancora
GRAFANA_STORAGE=./grafana_data